<div class = 'background' style="position: absolute; z-index: -1; left: 0; top: 0;">
  <div id="bg">
      <%= image_tag("https://pixabay.com/get/6dbd7c940bcfb28c9f57/1448308528/hiker-984098_1920.jpg?direct",class:"logo", :alt => "logo", width: '100%', height:'100%') %>
  </div>
</div>
<center>
<div class = 'newexperience'>
  <h2>New Experience</h2>
<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
</center>
<% end %>
